# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Static collected files
staticfiles/

# Database files
db.sqlite3

# VS Code
.vscode/
Microsoft VS Code/

# Local data dumps
centers.json
participants.json
userprofiles.json
users.json